{# templates/categorie/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title%}Liste des catégories{% endblock %}

{% block body %}
<h1>Liste des catégories</h1>

<p>
    {# génération d'un lien qui pointe vers la page de création #}
    <a href="{{ path('categorie_new') }}">ajouter une catégorie</a>
</p>

<table>
    <tr>
        <th>numcat</th>
        <th>libelle</th>
        <th>tauxtva</th>
        <th>action</th>
    </tr>
    {% for categorie in categories %}
        <tr>
            <td>
                {{ categorie.numcat }}
            </td>
            <td>
                {{ categorie.libelle }}
            </td>
            <td>
                {{ categorie.tauxtva }}
            </td>
            <td>
                {# génération d'un lien qui pointe vers la page de visualisation #}
                <a href="{{ path('categorie_show', { numcat: categorie.numcat}) }}">voir</a>
                {# génération d'un lien qui pointe vers la page de modification  #}
                <a href="{{ path('categorie_edit', { numcat: categorie.numcat}) }}">modifier</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
