{# templates/categorie/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title%}Création d'une nouvelle catégorie{% endblock %}

{% block body %}

<p>
    {# génération d'un lien qui pointe vers la liste  #}
    <a href="{{ path('categorie_index') }}">liste des catégories</a>
<p>

<form method="post">
    <div>
        <input name="numcat" type="text" value="{{ categorie.numcat }}" placeholder="numcat" readonly />
    </div>
    {% if errors.libelle is defined %}
    <div>
        {{ errors.libelle }}
    </div>
    {% endif %}
    <div>
        <input name="libelle" type="text" value="{{ categorie.libelle }}" placeholder="libelle" />
    </div>
    {% if errors.tauxtva is defined %}
    <div>
        {{ errors.tauxtva }}
    </div>
    {% endif %}
    <div>
        <input name="tauxtva" type="text" value="{{ categorie.tauxtva }}" placeholder="tauxtva" />
    </div>
    <div>
        <button>Valider</button>
    </div>
</form>
{% endblock %}
